* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: "Work Sans", sans-serif;
}

button,
input {
  font-family: inherit;
}

.form {
  display: flex;
  flex-direction: column;
  gap: 8px;
  align-items: center;
}

.btn {
  padding: 0.5em 1em;
  text-transform: uppercase;
  border: none;
  border-radius: 0.3em;
}
.btn:hover {
  cursor: pointer;
}

.btn-generate {
  background-color: #663399;
  color: #eee;
  font-weight: 700;
}

main {
  padding: 1rem;
}

.boxes {
  gap: 8px;
  display: flex;
  flex-wrap: wrap;
}

.box {
  flex: 1;
  height: 200px;
  flex-basis: 100px;
  display: flex;
  flex-direction: column;
}

.color {
  border-radius: 0.3em;
  flex: 1;
  transition: 0.1s;
}

.box {
  position: relative;
}

.hex {
  position: absolute;
  bottom: 0;
  left: 0;
  background-color: rgba(0, 0, 0, 0.2);
  color: #eee;
  font-size: 900;
  padding: 2px 5px;
  border-top-right-radius: 0.3em;
  transition: 0.1s;
}

.hex:hover {
  cursor: pointer;
  background-color: rgba(0, 0, 0, 0.4);
}

@media (min-width: 500px) {
  .box {
    flex-grow: 0;
    height: 300px;
    flex-basis: 150px;
  }
}

@media (min-width: 501px) {
  .boxes {
    justify-content: center;
  }
}
